*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
.ui {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.3em;
}

.ui {
  background-color: hsla(53, 100%, 44%, 0.9);
  background: url(https://phoragerbucket.s3.amazonaws.com/uploads/post/picture/13/mello-2.jpg) center;
}

nav {
  background-color: hsla(53, 100%, 44%, 0.6);
  color: hsla(26, 100%, 27%, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  padding: 10px;
  height: 40px;
  font-weight: bold;
}

nav a,
nav a:visited,
nav button {
  text-decoration: inherit;
  color: inherit;
  background-color: unset;
  cursor: pointer;
  user-select: none;
  font-weight: normal;
}

nav a:focus,
nav a:visited:focus,
nav button:focus {
  outline: white auto 5px;
  outline-color: white;
  outline-style: auto;
  outline-width: 5px;
  font-weight: normal;
}

.nav--left {
  display: flex;
  justify-content: space-between;
  width: 350px;
  max-width: 75%
  font-weight: normal;
}

header {
  height: 40px;
  padding-left: 10px;
  color: #000000;
}

.container {
  display: flex;
  overflow-x: auto;
  height: calc(100% - 100px);
}

.container > * {
  flex: 0 0 auto;
  margin-left: 10px;
}

.list {
  width: 300px;
  height: calc(100% - 10px - 17px);
}

.list > * {
  background-color: hsla(187, 58%, 32%, 1);
  color: #333;
  padding: 0 10px;
  position: relative;
}

.list.add > button {
  height: 40px;
  text-align: left;
  background-color: hsla(115, 40%, 39%, 1);
  font-weight: 100;
  color: #ffffffcc;
}

.list.add > button:hover {
  background: hsla(86, 58%, 30%, 1);
}

.list.add > button:focus {
  outline: white auto 5px;
  outline-offset: -5px;
}

.list header,
.list.add > button {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.list:not(.add) > header > button {
  width: 100%;
  margin-top: 4px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}

.list:not(.add) > button:last-child {
  width: 100%;
  line-height: 36px;
}

.list:not(.add):not(.ghost) > button:last-child {
  display: block;
  outline-offset: -5px;
  text-align: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #d1d1d1;
  cursor: pointer;
}

.list ul {
  list-style: none;
  margin: 0;
  max-height: calc(100% - 36px - 36px);
  overflow-y: auto;
}

.list li {
  cursor: pointer;
  white-space: pre-wrap;
}

.list > ul > li.ghost > * {
  background: #454545;
  color: #d6dce0;
  outline: none;
}

.list li > button {
  width: calc(100% - 8px);
  margin: 4px;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  height: 100%;
  background-color: #ebe8e8;
  border-radius: 3px;
}

.list.ghost > *,
.list.ghost button {
  background: hsla(187, 58%, 20%, 1);
  color: #d6d0d0;
}

button {
  display: inline;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  background-color: inherit;
}

.hidden {
  visibility: hidden;
}